.Home {
    width: 100vw;
    height: 100vh;
    background-image: url("../../Picture/fond.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.Home .GameName {
    font-size: 48px;
}

.Home .none {
    display: none;
}

.Home .question {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.Home .VotreMain {
    color: white;
    font-weight: 500;
    font-size: 32px;
    position: absolute;
    width: 100vw;
    top: 85vh;
    height: 10vh;
    left: 50vw;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.None {
    display: none;
}