/* .form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.form div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.form div input {
    width: 15vw;
    height: 40px;
    text-align: center;
    outline: none;
    font-size: 14px;
}

.form div .response {
    border: none;
    font-size: 18px;    
    user-select: none;
    background-color: white;
}

.form div .green {
    background-color: green;
    border: none;
    font-size: 18px;    
    user-select: none;
}

.form div .red {
    background-color: red;
    border: none;
    font-size: 18px;    
    user-select: none;
}

.valid {
    width: 20vw;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: rgb(55, 255, 55);
    font-size: 20px;
    cursor: pointer;
}

.VotreMain {
    font-size: 24px;
} */


h1 {
    color: white;
    width: 65vw;
    height: 21vh;
    position: absolute;
    top: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 17.5vw;
    font-size: 48px;
    border-radius: 200px;
}

.form {
    width: 100vw;
    height: 45vh;
    position: absolute;
    top: 42vh;
    display: flex;
    flex-direction: row;
}

.form div {
    display: flex;
    flex-direction: column;
    width: 17.5vw;
    height: 45vh;
    position: absolute;
}

.form div:nth-child(1) {
    left: 15vw;
}
.form div:nth-child(2) {
    left: 32.5vw;
}
.form div:nth-child(3) {
    left: 50vw;
}
.form div:nth-child(4) {
    left: 67.5vw;
}

.form div .response {
    border: none;
    outline: none;
    position: absolute;
    width: 13vw;
    height: 14vh;
    text-align: center;
    font-size: 24px;
    background-color: transparent;
    color: white;
    font-weight: bold;
}

.form div:nth-child(1) .response {
    top: 9vh;
    left: 1.5vw;
    transform : rotate(-16deg);
}
.form div:nth-child(2) .response {
    top: 2.5vh;
    left: 2.5vw;
    transform : rotate(-5deg);
}
.form div:nth-child(3) .response {
    top: 2.5vh;
    left: 1.75vw;
    transform : rotate(6deg);
}
.form div:nth-child(4) .response {
    top: 9vh;
    left: 3vw;
    transform : rotate(18deg);
}

.form div .input {
    border: none;
    outline: none;
    position: absolute;
    width: 12.25vw;
    height: 11vh;
    text-align: center;
    font-size: 24px;
    background-color: transparent;
    color: white;
}

.form div .input::placeholder {
    color: white;
}

.form div:nth-child(1) .input {
    bottom: 4vh;
    left: 4vw;
    transform : rotate(-16deg);
}
.form div:nth-child(2) .input {
    bottom: 11vh;
    left: 4.25vw;
    transform : rotate(-6deg);
}
.form div:nth-child(3) .input {
    bottom: 11vh;
    left: 1.5vw;
    transform : rotate(6deg);
}
.form div:nth-child(4) .input {
    bottom: 4vh;
    left: 1vw;
    transform : rotate(16deg);
}